{% include "letslearnpython/common_head.html" %}
{% include "lessons/lessons_header.html" %}

<div class="yk-container container">
  
  
  <div class="row">

    <!-- lessons links -->
    <div class="list-group yk-container-nav col-sm-3">
      <a class="yk-toggle-menu list-group-item hidden-md hidden-lg hidden-sm" href="#">
        Show menu
      </a>
      
      {# Loop over all lessons. #}
      {% for item in lesson_list %}
        <a class="list-group-item yk-lesson-name" href="/learn/lesson/{{ item.number }}/step/1/">
          Lesson {{ item.number }}: {{ item.name }}
        </a>
        {% if item == lesson %}
          {# For the current lesson (and only the current lesson) we show all the steps. #}
          {% for item in step_list %}
            <a class='list-group-item yk-step-name {% if item == step %}active{% endif %}' href="/learn/lesson/{{ lesson.number }}/step/{{ item.step_number }}">
              {{ item.step_name }}
            </a>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
    <!-- end lessons links -->

    <!-- content -->
    <div class="yk-container-content col-sm-9">
      {% if step %}
        <h1 class="yk-page-title">{{ step.step_name }}</h1>
      
        {{ step.description | safe }}
      {% else %}
        {# Lesson landing page. No step has been selected yet. #}
        <h2>Learn Python!</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam 
          lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra 
          nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam 
          eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, 
          ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula 
          ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      {% endif %}
      
      <div class="yk-step-navigation clearfix">
        {% if prev_step %}
          <a class="yk-step-navigation-prev" href="/learn/lesson/{{ prev_step.lesson.number }}/step/{{ prev_step.step_number }}">
          
            &larr; {{ prev_step.step_name }}
          </a>
        {% endif %}
      
        {% if next_step %}
          <a class="yk-step-navigation-next" href="/learn/lesson/{{ next_step.lesson.number }}/step/{{ next_step.step_number }}">
            {{ next_step.step_name }} &rarr;
          </a>      
        {% endif %}
      </div>
      
    </div><!-- left float 2 -->
    
  </div> {# .row #}
</div> {# .container #}

  {# TODO: This should probably be moved to an external script eventually. #}
  <script type="text/javascript">
    if ( $('.yk-toggle-menu:visible').length ) {
      $('.yk-container-nav').addClass('yk-menu-collapsed');
    }
    
    $('.yk-toggle-menu').click(function (e) {
      e.preventDefault();
      var $menu = $('.yk-container-nav');
      var newText;
      $menu.toggleClass('yk-menu-collapsed');
      if ( $menu.hasClass('yk-menu-collapsed') ) {
        newText = 'Show menu';
      } else {
        newText = 'Hide menu';
      }
      $('.yk-toggle-menu').text(newText);
    });
  </script>


{% include "letslearnpython/common_footer.html" %}
