body {
    background-image:none;
}
#container {
    float: left;
    width: 1050px;
    text-align: left;
}
#nav-list {
    float: left;
    width: 200px;
    text-align: left;
    margin: 10px;
}
#content {
    float: left;
    width: 800px;
    text-align: left;
    overflow: visible;
    min-width: 800px;
    margin: 10px;
}
#step-name {
    margin: 0;
    font-weight: bold;
    font-size: 28px;
    color: #5D8896;
}
