<div id="prev_next">

  {% if prev_step %}
    <a href="/learn/lesson/{{ lesson.number }}/step/{{ prev_step.step_number }}" class="left-arrow">
      Step {{ prev_step.step_number }}: {{ prev_step.step_name }}</a>
  {% else %}
      {% if prev_lesson %}
          <a href="/learn/lesson/{{ prev_lesson.number }}" id="prev_next_lesson" class="left-arrow">
          {{ prev_lesson }}</a>
      {% endif %}
  {% endif %}

  {% if next_step %}
    <a href="/learn/lesson/{{ lesson.number }}/step/{{ next_step.step_number }}" class="right-arrow">
    Step {{ next_step.step_number }}: {{ next_step.step_name }}</a>
  {% else %}
      {% if next_lesson %}
          <a href="/learn/lesson/{{ next_lesson.number }}/" id="prev_next_lesson" class="right-arrow">
          {{ next_lesson }}</a>
      {% endif %}
  {% endif %}

</div>
