{% include "youngcoders/header.html" %}
{% include "lessons/header.html" %}

<div id="lesson-container">
    {% if step_list %}
        <div id="lesson-text">
            {{ lesson.description }}
        </div>
        <ul>
            {% for step in step_list %}
                <li><a href="/learn/lesson/{{ lesson.number }}/step/{{ step.step_number }}">Step {{ step.step_number }}: {{ step.step_name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No steps are available for {{ lesson }}.</p>
    {% endif %}
</div>

{% include "lessons/footer.html" %}
