<div id="step-list-text">

  <div id="lesson-name">
    Lesson {{ lesson.number }}: {{ lesson.name }}<br>
  </div>

  {% if step_list %}

    {% for item in step_list %}
      {% if item == step %}<p class="active">{% else %}<p>{% endif %}
          <a href="/learn/lesson/{{ lesson.number }}/step/{{ item.step_number }}">
              {{ item.step_name }}
          </a>
      </p>
    {% endfor %}

  {% endif %}

  {% if next_lesson %}
    <p><br></p>
    <p>
    <a href="/learn/lesson/{{ next_lesson.number }}/step/1/" id="prev_next_lesson" class="right-arrow">
      {{ next_lesson }}</a>
    </p>
  {% endif %}

</div>
