{% include "youngcoders/header.html" %}
{% include "teaching/header.html" %}

<div id="container">

  <div id="nav-list">
    {% if step_list %}
        {% for item in step_list %}
          <p><a href="/teach/step/{{ item.step_number }}/">{{ item.step_name }}</a></p>
        {% endfor %}
    {% else %}
        <p>No steps are available.</p>
    {% endif %}
  </div>

  <div id="content">
    <p>this is a class we teach at PyCon every year, blah blah blah</p>
    <p>But you can teach it in your community too, etc etc etc</p>
  </div>

</div>
