{% include "letslearnpython/common_head.html" %}
{% include "letslearnpython/llp_header.html" %}

<div class="yk-container container">

  <div class="row">

    <!-- left nav links -->
    <div class="list-group yk-container-nav col-sm-3">
        <br>
    </div><!-- end left nav links -->

    <!-- content -->
    <div class="yk-container-content col-sm-9">
        <h2>{{ flatpage.title }}</h2>
        {{ flatpage.content }}
    </div><!-- end home page content -->

  </div> {# .row #}
</div> {# .container #}

{% include "letslearnpython/common_footer.html" %}
