{% load staticfiles %}

<footer>

<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 35%"></div>
  <div class="progress-bar progress-bar-warning" style="width: 20%"></div>
  <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"></div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li style="width: 350px;">
          {% include "letslearnpython/mailing_list_signup_form.html" %}
        </li>
        <li>
          <a href="https://www.facebook.com/PythonKids/" target="_blank">
            <img src="{% static 'letslearnpython/images/facebook.png' %}" alt="Facebook" height="50" width="50">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/pythonkids" target="_blank">
            <img src="{% static 'letslearnpython/images/twitter.png' %}" alt="Twitter" height="50" width="50">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/pykids/" target="_blank">
            <img src="{% static 'letslearnpython/images/instagram.png' %}" alt="Instagram" height="50" width="50">
          </a>
        </li>
        <li>
          <a href="https://www.pinterest.com/pykids/" target="_blank">
            <img src="{% static 'letslearnpython/images/pinterest.png' %}" alt="Pinterest" height="50" width="50">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</footer>

<script type="text/javascript">
  $('.dropdown-toggle').dropdown();
</script>
  
<script type="text/javascript">
    $('.yk-container-content pre').each(function (i, pre) {
      var $pre = $(pre), code = $pre.html();

      // Strip leading and trailing newlines/spaces.
      code = code.replace(/^\s+/, '').replace(/\s+$/, '')

      // Treat any line that begins with >>> as representing an IDLE prompt.
      var promptPattern = /^(>>>|&gt;&gt;&gt;)/;

      var output = code.split('\n').map(function (line) {
        if ( promptPattern.exec(line) ) {
          line = line.replace(promptPattern, '').trim();
          return '<code class="prompt">' + line + '</code>';
        }
        return '<code>' + line + '</code>';
      });
      
      $pre.html( output.join('\n') );
    });
</script>

</body>
</html>
