{% include "letslearnpython/common_head.html" %}
{% include "letslearnpython/llp_header.html" %}

<div class="yk-container container">

  <div class="row">

    <!-- left nav links -->
    <div class="list-group yk-container-nav col-sm-2">
        <br>
    </div><!-- end left nav links -->

    <!-- content -->
    <div class="yk-container-content col-sm-8">
        <h2>Welcome to Let's Learn Python!</h2>
        <p>Here you'll find step-by-step instructions for getting started with the Python programming language.</p>
        <p>Just click on the 'Learn' tab above to begin.</p>
        <p>Already familiar with Python and interested in teaching?</p>
        <p>Click on 'Teach' to get some guidelines for using this curriculum to organize your own class.</p>
    </div><!-- end home page content -->

  </div> {# .row #}
</div> {# .container #}

{% include "letslearnpython/common_footer.html" %}
