{% include "letslearnpython/common_head.html" %}
{% include "letslearnpython/llp_header.html" %}
{% load staticfiles %}

<div class="yk-container container">

  <div class="row">

    <!-- left nav links -->
    <div class="list-group yk-container-nav col-sm-2">
        <br>
    </div><!-- end left nav links -->

    <!-- content -->
    <div class="yk-container-content col-sm-8">
        <h3>Welcome to</h3>
        <h2>Let's Learn Python!</h2>
        <div class="yk-home-container">
          <p></p>
          <img src="{% static 'letslearnpython/images/pythonlogo.png' %}" alt="logo" align="right">
          <p>Here you'll find step-by-step instructions for getting started with the Python programming language.</p>
          <p>Just click on <a href="/learn/">Learn</a> to begin.</p>
          <p>Are you familiar with Python and interested in teaching others?</p>
          <p>Click on <a href="/teach/">Teach</a> to get some guidelines for using this curriculum to organize your own class.</p>
        </div>
    </div><!-- end home page content -->

  </div> {# .row #}
</div> {# .container #}

{% include "letslearnpython/common_footer.html" %}
