body {
    background-image:none;
}

#container {
    float: left;
    width: 1200px;
    text-align: left;
}
#nav-list {
    float: left;
    width: 250px;
    text-align: left;
    margin: 10px;
}
#content {
    float: left;
    width: 800px;
    text-align: left;
    overflow: visible;
    min-width: 800px;
    margin: 10px;
}
#step-image {
    margin: 10px;
}
#step-name {
    margin: 0;
    font-weight: bold;
    font-size: 28px;
    color: #5D8896;
}

#prev_next {
    clear: both;
    width: 95%;
    text-align: center;
    padding-top: 10px;
}
#prev_next a {
    text-decoration: none;
    margin: 20px;
}
#prev_next_lesson {
    text-transform: uppercase;
}
