{% include "letslearnpython/common_head.html" %}
{% include "pages/pages_header.html" %}

<div class="yk-container container">

  <div class="row">

    <!-- left nav links -->
    <div class="list-group yk-container-nav col-sm-2">
        <br>
    </div><!-- end left nav links -->

    <!-- content -->
    <div class="yk-container-content col-sm-8">
        <h2>{{ page.page_name|title }}</h2>
        {{ page.description|safe }}
    </div><!-- end home page content -->

  </div> {# .row #}
</div> {# .container #}

{% include "letslearnpython/common_footer.html" %}
