.yk-page-title {
  border-bottom: 1px solid #ccc;
}

.yk-container {
  min-height: 500px;
  
/*  overflow: auto;
  width: 100%;
*/}
.yk-container-nav {
  font-size: 13px;
  line-height: 1.5;
}
  
  /* When the yk-menu-collapsed class name is added to the menu DIV, hide everything except for the "hide/show menu" control. */
  .yk-container-nav.yk-menu-collapsed .yk-lesson-name,
  .yk-container-nav.yk-menu-collapsed .yk-step-name {
    display: none;
  }
  
  /* The link that toggles display of the menu. */
  .yk-toggle-menu {
    font-weight: bold;
    text-align: center;
  }
  
  .yk-container-nav .active {
  }
  
  .yk-container-nav .list-group-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
.yk-container-content {
/*  float: left;
  width: 75%;
*/}
.yk-container-content-flatpage {
/*  float: left;
  width: 75%;
  padding-left: 50px;
*/}


/* Lesson/step navigation */

.yk-lesson-name, .yk-guideline-name {
  font-weight: bold;
}

.yk-step-name {
  background-color: #f6f6f6;
  padding-left: 30px;
}

/* The links at the bottom of the page to next/previous steps. */
.yk-step-navigation {
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  margin-bottom: 30px;
}

  .yk-step-navigation-prev {
    float: left;
    width: 48%;
  }
  
  .yk-step-navigation-next {
    float: right;
    width: 48;
  }

@media (max-width: 767px) {
  /* On small screens we need this padding fix */
  .yk-container-nav {
    padding-left: 15px;
  }
}

div.codewrap {
  whitespace: pre;
  font-family: monospace;
}

div.codewrap ul.prompt {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

ul.prompt li:before {
  content: '>>> ';
  color: red;
}