{% include "letslearnpython/common_head.html" %}
{% include "teaching/teach_header.html" %}

<div class="yk-container container">

  <div class="row">

    <!-- left nav links -->
    <div class="list-group yk-container-nav col-sm-3">
      {# Loop over all teaching guidelines #}
      {% if step_list %}
        {% for item in step_list %}
          <a class="list-group-item yk-guideline-name" href="/teach/step/{{ item.step_number }}">{{ item.step_name }}</a>
        {% endfor %}
      {% endif %}
    </div>
    <!-- end left nav links -->

    <!-- content -->
    <div class="yk-container-content col-sm-9">
      {% if step %}
        {{ step.description | safe }}
      {% else %}
        {# Teaching landing page. No guideline has been selected yet. #}
        <h2>Teach Python!</h2>
        <p>If you're a programmer, you probably remember the thrill you got when you first discovered what a powerful tool coding can be.</p>
        <p>The only thing more exciting is seeing young students light up as they discover it too.</p>
        <p>The content in the <a href="/learn/">Learn</a> section of this site is based on a class taught annually at PyCon North America.</p>
        <p>While the web-based tutorial here can be used for self-teaching, you can use the same equipment and materials to teach a class in your community, even if you've never taught before.</p>
<p>Are you interested in teaching your own beginner Python class? Then <a href="/teach/step/1/">read on</a> for more information!</p>
      {% endif %}
    </div><!-- end content -->

  </div> {# .row #}
</div> {# .container #}


{% include "letslearnpython/common_footer.html" %}
