{% include "letslearnpython/common_head.html" %}
{% include "teaching/teach_header.html" %}

<div class="yk-container container">

  <div class="row">

    <!-- left nav links -->
    <div class="list-group yk-container-nav col-sm-3">
      {# Loop over all teaching guidelines #}
      {% if step_list %}
        {% for item in step_list %}
          <a class="list-group-item yk-guideline-name" href="/teach/step/{{ item.step_number }}">{{ item.step_name }}</a>
        {% endfor %}
      {% endif %}
    </div>
    <!-- end left nav links -->

    <!-- content -->
    <div class="yk-container-content col-sm-9">
      {% if step %}
        <h2>{{ step.step_name }}</h2>
        {{ step.description | safe }}
      {% else %}
        {# Teaching landing page. No guideline has been selected yet. #}
        <h2>Teach Python!</h2>
        <p>this is a class we teach at PyCon every year, blah blah blah</p>
        <p>But you can teach it in your community too, etc etc etc</p>
      {% endif %}
    </div><!-- end content -->

  </div> {# .row #}
</div> {# .container #}


{% include "letslearnpython/common_footer.html" %}
