{% load staticfiles %}
{% load flatpages %}
{% get_flatpages as flatpages %}

<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/"><img src="{% static 'letslearnpython/images/site-header-logo.png' %}" alt="logo"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

        <ul class="nav navbar-nav">
          <li><a href="/learn/">Learn</a></li>
          <li class="active"><a href="/teach/">Teach</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false" href="#">
              More
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% if flatpages %}
                {% for page in flatpages %}
                  <li>
                    <a href="/page{{ page.url }}">{{ page.title }}</a>
                  </li>
                {% endfor %}
              {% endif %}
              <li>
                <a href="/contact/">Contact</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if step %}
            <p class="navbar-text yk-nav-label">{{ step.step_name }}</p>
          {% endif %}
        </ul>

      </div>
    </div>
  </nav>
</header>
